* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1;
}

header {
  background: #2c3e50;
  padding: 20px;
  text-align: left;
}

header h1 {
  margin: 0;
  color: rgb(166, 189, 166);
}

nav {
  text-align: right;
}

nav a { /* add highlight affect when hovering */
  margin: 0 2%;
  color: rgb(166, 189, 166);
  text-decoration: underline;
} 

.sub {
  padding: 10px;
  background-color: #e5e5e5;
  border: 2px solid #a52222;
  margin: 10px 10px;
}

h2 {
  font-size: x-large;
}

.page-section {
  padding: 20px;
  background-color: #e5e5e5;
}

footer h3 {
  text-align: left;
  font-size: x-large;
}

footer {
  padding: 20px;
  background-color: #2c3e50;
  color: rgb(166, 189, 166);
  text-align: center;
}

section a { /* add highlight affect when hovering */
  margin: 0 2%;
  color: rgb(166, 189, 166);
  text-decoration: underline;
} 


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  header h1 {
      text-align: center;
  }
  
  nav {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  nav a {
      margin: 5px 0;
  }

  .work .project {
      width: 100%;
  }
}

@media (max-width: 480px) {
  header {
      padding: 10px;
  }

  header h1 {
      text-align: center;
  }

  .about-me, .work {
      padding: 10px;
  }

  footer {
      padding: 10px;
  }
}